@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
  background:#ecf0f1;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size:40px;
  font-weight:300;
  line-height:40px;
}

b {
  font-weight:800;
}

.code, .design, p, .backCode , .backDesign{
  font-size:25px;
  line-height:40px;
  display:inline-block;
}

.center {
  color:#7f8c8d;
  width:50vw;
  height:40px;
  margin-top: 5vh;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index:999;
}
