@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
  background:#ecf0f1;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size:40px;
  font-weight:300;
  line-height:40px;
  margin:5vh 0 0 0;
}

b {
  font-weight:800;
}

p {
  font-size:25px;
  line-height:40px;
  display:inline-block;
  margin-top:auto;
}

.center {
  color:#7f8c8d;
  width: 50%;
  text-align:center;
  height:40px;
  margin: auto;
  z-index:999;
}

